.navbar {
  /* background-color: #151515 !important; */
  background-color: transparent !important;
}

.collapse::after {
  background-color: #151515;
  min-width: 100%;
  float: right;
  color: #fff;
}

.nav-link,
.navbar-brand {
  float: right;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 15px;
  letter-spacing: 1px;
  margin-top: 15px;
}

.navbar-brand {
  font-size: 2.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #fff;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
}

.nav-link:hover,
.navbar-brand:hover {
  color: #ff6363;
}

.menu-icon {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
}

/* @media only screen and (max-width: 1199px) {
  .navbar-brand {
    font-size: 5vh;
    margin-left: -50px;
  }
} */
